# General / Environment
node_modules
.DS_Store
cookies.txt
config.js
dist
.vite

# Playwright & Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Coverage
coverage
.nyc_output